@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #030014;
  /* Deep Space Black */
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Scrollbar Hide */
::-webkit-scrollbar {
  width: 0px;
}